###################### UI VALUES ######################

# Flask server URL - used to keep secret bearer tokens hidden
FLASK_SERVER=http://192.168.0.23:5000

# Used for Weather Tabs
WEATHER_LOCATION="Bellevue, Washington, United States"
SEVEN_DAY_WEATHER_LOCATION="Bellevue, United States"

# Used for Google Calendar API
GOOGLE_CLIENT_ID=INSERT_CLIENT_ID
GOOGLE_CLIENT_SECRET=INSERT_CLIENT_SECRET
GOOGLE_REFRESH_TOKEN=INSERT_REFRESH_TOKEN

# Used for Home Assistant API
HOME_ASSISTANT_URL=INSERT_HOME_ASSISTANT_URL            # In the format of: http://192.168.0.13:8123
HOME_ASSISTANT_TOKEN=INSERT_HOME_ASSISTANT_TOKEN

SWITCH_1_ENTITY_ID=INSERT_SWITCH_1_ENTRY_ID             # In home assistant, the entity id may look like `switch.some_switch_name_1`. Insert "some_switch_name_1" here (no quotes)
SWITCH_1_DISPLAY_NAME=INSERT_SWITCH_1_NAME              # The name that you want this to display as

SWITCH_2_ENTITY_ID=INSERT_SWITCH_2_ENTRY_ID             # In home assistant, the entity id may look like `switch.some_switch_name_2`. Insert "some_switch_name_2" here (no quotes)
SWITCH_2_DISPLAY_NAME="Deskside plug"                   # The name that you want this to display as

LIGHT_1_ENTITY_ID=INSERT_LIGHT_1_ENTRY_ID               # In home assistant, the entity id may look like `light.some_light_name_1`. Insert "some_light_name_1" here (no quotes)
LIGHT_1_DISPLAY_NAME="Deskside Lamp"                    # The name that you want this to display as


###################### FLASK VALUES ######################
# Used for Notion Integration
NOTION_INTEGRATION_SECRET=INSERT_NOTION_INTEGRATION_SECRET
NOTION_CALL_REMINDER_DB_ID=INSERT_NOTION_CALL_REMINDER_DB_ID
NOTION_HABIT_TRACKER_DB_ID=INSERT_NOTION_HABIT_TRACKER_DB_ID
UI_ENDPOINT=http://localhost:8080