# Variables defined here will be available to use anywhere in the config with the syntax ${MY_SECRET_TOKEN}
# Note: making changes to this file requires re-running docker compose up
MY_SECRET_TOKEN=123456


# Used for Google Calendar API
GOOGLE_CLIENT_ID=INSERT_CLIENT_ID
GOOGLE_CLIENT_SECRET=INSERT_CLIENT_SECRET
GOOGLE_REFRESH_TOKEN=INSERT_REFRESH_TOKEN

# Used for Home Assistant API
HOME_ASSISTANT_URL=INSERT_HOME_ASSISTANT_URL
HOME_ASSISTANT_TOKEN=INSERT_HOME_ASSISTANT_TOKEN
SWITCH_1_ENTRY_ID=INSERT_SWITCH_1_ENTRY_ID
SWITCH_2_ENTRY_ID=INSERT_SWITCH_2_ENTRY_ID
LIGHT_1_ENTRY_ID=INSERT_LIGHT_1_ENTRY_ID